/*  your css code here. If applicable */
.hero{
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
}
.image_section{
	width:70%;
	higth:100%;
}
 img{
	width:100%;
	height:100%;
	object-fit:cover;
}
.text_section{
  width:30%;
  padding:60px;
  text-align:center;
}
h1{
  font-size:36px;
  margin-bottom:20px;
}
p{
  color:#555;
  margin-bottom:25px;
  font-size:18px;
}
.btn{
  padding:12px 22px;
  background-color:#e60023;
  color:white;
  border-radius:6px;
  text-decoration:none;
  display:inline-block;
}